* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}
body {
    font-family: montserrat, roboto, sans-serif;
    position: relative;
    margin: 0;
    padding: 0;
    color: $mainBlack;
    width: 100vw;
    // display: grid;
    // justify-items: center;
}
.container {
    // background-image: url('../../assets/images/rectangles/rectangle-101.png');
    // background-position: 72rem 100rem;
    // background-repeat: no-repeat;
    // background-size: cover;
    // min-height: 100vh;
    // position: relative;
    // top: 30rem;
}

img {
    max-width: 100%;
    height: auto;
}
a {
    text-decoration: none;
    font-family: inherit;
    color: inherit;
    &:hover {
        color: $hoverBlack;
    }
}

li {
    list-style-type: none;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

.mt {
    margin-top: 2rem;
}
.mb {
    margin-bottom: 2rem;
}
.mx {
    margin-right: 1rem; 
    margin-left: 1rem;
}
.pt {
    padding-top: 5rem;
}
.fm {
    // width: 43.2rem - 4rem;

    // border: .2rem solid $mainBlack;
    // border-radius: .5rem;
    // padding: 1.4rem 3rem;
    // font-size: 1.5rem;
    // margin-bottom: 1.5rem;
    // &:last-child {
    //     margin-bottom: 0;
    // }
    // &-input {
    //     height: 5.1rem - 2.4rem;
    // }
    // &-textarea {
    //     height: 7rem;
    // }

    border: .2rem solid $mainBlack;
    border-radius: .5rem;
    padding: 1.4rem 2rem;
    margin-bottom: 1.2rem;
    @media only screen and (min-width: 769px) {
        padding: 1.4rem 3rem;
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
        &:last-child {
            margin-bottom: 0;
        }
        &-input {
            height: 5rem;
        }
        &-textarea {
            height: 7rem;
        }
    }

    
}
.remove-for-m {
    display: none;
}
.footer-v {
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
}

.triangle {
    // background-image: url('../../assets/images/rectangles/rectangle-101.png');
    // background-position: 60% 0%;
    // background-repeat: no-repeat;
    // background-size: cover;

    // height: 100vh;
    // // min-height: 100vh;
    // width: 300%;
    // position: relative;
    // z-index: -5;
    // top: 30vh;
    
    
}