.main-header {
    background-color: white;
    display: float;
    img {
        width: 50px;
        @media only screen and (min-width: 481px) {
            width: 70px;
            margin-left: 2rem;
        }
    }
    @media only screen and (min-width: 769px) {
        
        &__nav {
            li {
                font-size: 1.5rem;
                padding-right: 2rem;
                &:last-child {
                    padding-right: 0;
                }
            }
        }
    }
    
    &__nav-items {
        display: flex;
        align-items: center;
    }
    &__nav-item-logo {
        margin-right: auto;
    }
    &__nav-item-hamburger {
        @media only screen and (min-width: 769px) {
            display: none;
        }
        .hori {
            width: 2rem;
            height: .2rem;
            background-color: $mainBlue;
        }
        .top,
        .mid {
            margin-bottom: .5rem;
        }
    }
    .bgnav {
        display: none;
        @media only screen and (min-width: 769px) {
            display: flex;
            align-items: center;
            margin-right: 2rem;

        }
    }
    
}