.icon-three {
    // background-image: url('../../assets/images/rectangles/rectangle-101.png');
    // background-position: 90% 10%;
    // background-repeat: no-repeat;
    // background-size: cover;
    
    display: flex;
    justify-content: space-between;

    margin-top: 15rem;
    &__one {
        width: 35rem;
        display: flex;
        flex-direction: column;
        &-image {
            // align-self: center;
            width: 8rem;
            height: 8rem;
            // background-color: $mainBlue;
            background-image: radial-gradient($ctaBtn2, $ctaBtn1, $mainBlue);
        }
        &-content {
            font-size: 1.5rem;
            line-height: 1.2;
            margin-top: 2rem;

        }
    }
}