.main-hero {
    background-image: url('../../assets/images/house-key.jpg');
    background-color: $mainBlue;
    height: 30rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(1, 5, 22, 0.6);

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 3rem;
    width: 100vw;
    height: 40vh;

    text-align: center;
    color: white;

    @media only screen and (min-width: 769px) {
        height: 60vh;
    }

    &__content {
        width: 100%;
        
        &-title {
            @media only screen and (min-width: 769px) {
                font-size: 4rem;
            }
        }
        &-subtitle {
            display: none;
            @media only screen and (min-width: 769px) {
                display: block;
                font-size: 2.2rem;
                font-weight: normal;
                color: white;

            }
            
        }
        &-cta {
            // @include ctaBtn;
            background: $ctaBtn2;
            border-radius: 5rem;
            border: 0;
            width: 15rem;
            height: 4rem;
            font-size: 1.1rem;
            margin-top: 1rem;
            color: white;
            &:hover {
                background: darken($ctaBtn2, 10%);
            }

            @media only screen and (min-width: 769px) {
                width: 22.8rem;
                height: 6.1rem;
                font-size: 1.5rem;
                margin-top: 3rem;
            }
        }
    }
}
